{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h4>Account Information</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col">
                            <h5>User Details</h5>
                            <table class="table">
                                <tr>
                                    <th>Username:</th>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <h5>Storage Usage</h5>
                            <div class="progress mb-3">
                                <div class="progress-bar {% if storage_percent > 90 %}bg-danger{% elif storage_percent > 70 %}bg-warning{% else %}bg-success{% endif %}" 
                                     role="progressbar" 
                                     style="width: {{ storage_percent }}%" 
                                     aria-valuenow="{{ storage_percent }}" 
                                     aria-valuemin="0" 
                                     aria-valuemax="100">
                                    {{ storage_percent }}%
                                </div>
                            </div>
                            <p>Using {{ storage_used_mb }} MB of {{ storage_limit_mb }} MB</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
